
/* ====== Main Content ====== */
@media only screen and (max-width: 767px) {
	.main-content {
		margin: 0 0 100px;
	}
	.container {
		max-width: 280px;
		width: 100%;
		margin: 0 auto;
	}
	.l-content {
		background: #000;
		height: auto;
		width: 100%;
		padding: 0;
		display: table;
	}
	.profile-pic {
		background: url(../images/profile-bg.jpg) no-repeat;
		background-size: cover;
		height: 266px;
		position: relative;
	}
	.navigation li {
		float: left;
		width: 20%;

		& a {
			font-size: 0;
			& i {
				font-size: 20px;
				margin-left: 0;
			}
		}
	}
	.r-content {
		padding: 0;
		width: 100%;
	}
	.flexslider {
		min-height: auto;
	}
	.profile p {
		text-indent: 0;
	}
	.np-main {
		width: 100%;
	}

	#portfolio {
		padding: 0;
		& .item {
			width: 100%;
			margin: 0 auto;
		}
	}
}
