/* Font */
@font-face {
    font-family: 'Consolas';
    src: url('fonts/Consolas.eot');
    src: url('fonts/Consolas.eot') format('embedded-opentype'),
    url('fonts/Consolas.woff') format('woff'),
    url('fonts/Consolas.ttf') format('truetype'),
    url('fonts/Consolas.svg#Consolas') format('svg');
}

body {
    background: url("images/tiny_grid.png");
}
.main {
    font-family: "Consolas", monospace;
}

/* VARIABLES */
$font-family: "Consolas", monospace;

$nav-li-height: 40px;
$nav-li-width: 150px;

/* MIXINS */
@mixin linear-gradient($linear-gradient...) {
    background-image: -webkit-linear-gradient($linear-gradient);
    background-image: -moz-linear-gradient($linear-gradient);
    background-image: -o-linear-gradient($linear-gradient);
    background-image: linear-gradient($linear-gradient);
}
@mixin box-shadow($shadow...) {
    -webkit-box-shadow: $shadow;
    -moz-box-shadow: $shadow;
    box-shadow: $shadow;
}
@mixin transition($transition...) {
    -webkit-transition:$transition;
    -moz-transition: $transition;
    -o-transition: $transition;
    transition: $transition;
}