/* VARIABLES */
$font-family: "Consolas", monospace;
$font-size: 20px;
$text-color: #666;
$text-border: 2px solid #a9a9a9;

$nav-li-height: 40px;
$nav-li-width: 15%;

$demo-width: 400px;

$skill-div-width: 13em;
$skill-div-height: 20em;
$skill-span-height: 3em;

$contact-li-width: auto;
$contact-a-width: auto;
/* Font */
@font-face {
    font-family: 'Consolas';
    src: url('fonts/Consolas.eot');
    src: url('fonts/Consolas.eot') format('embedded-opentype'),
    url('fonts/Consolas.woff') format('woff'),
    url('fonts/Consolas.ttf') format('truetype'),
    url('fonts/Consolas.svg#Consolas') format('svg');
}

body {
    background: url("images/tiny_grid.png");
}
.main {
    font-family: "Consolas", monospace;
}

/* ICOMOON */
@font-face {
    font-family: 'icomoon';
    src:    url('fonts/icomoon.eot?712t68');
    src:    url('fonts/icomoon.eot?712t68#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?712t68') format('truetype'),
    url('fonts/icomoon.woff?712t68') format('woff'),
    url('fonts/icomoon.svg?712t68#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'icomoon' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-qq:before {
    content: "\e902";
}
.icon-wechat:before {
    content: "\e906";
}
.icon-location:before {
    content: "\e903";
}
.icon-compass:before {
    content: "\e905";
}
.icon-link:before {
    content: "\e904";
}
.icon-circle-right:before {
    content: "\e907";
}
.icon-email:before {
    content: "\e900";
}
.icon-github:before {
    content: "\e901";
}








/* MIXINS */
@mixin linear-gradient($linear-gradient...) {
    background-image: -webkit-linear-gradient($linear-gradient);
    background-image: -moz-linear-gradient($linear-gradient);
    background-image: -o-linear-gradient($linear-gradient);
    background-image: linear-gradient($linear-gradient);
}
@mixin box-shadow($shadow...) {
    -webkit-box-shadow: $shadow;
    -moz-box-shadow: $shadow;
    box-shadow: $shadow;
}
@mixin transition($transition...) {
    -webkit-transition:$transition;
    -moz-transition: $transition;
    -o-transition: $transition;
    transition: $transition;
}
@mixin transform($transform...){
    -webkit-transform:$transform;
    -moz-transform: $transform;
    -o-transform: $transform;
    transform: $transform;
}
@mixin opacity($opacity) {
    opacity: $opacity;
    filter: alpha(opacity=$opacity * 100);
}

/* EXTENDS */
.active-nav-a {
    color: #a8a8a8;
    @include box-shadow(inset 150px 0 rgba(255,255,255,.5));
}
.flex-container{
    display: -webkit-flex;
    display: flex;
    -webkit-flex-flow: row wrap;
    flex-flow: row wrap;
    -webkit-justify-content: space-around;
    justify-content: space-around;
}