/* Font */
@font-face {
    font-family: 'Consolas';
    src: url('fonts/Consolas.eot');
    src: url('fonts/Consolas.eot') format('embedded-opentype'),
    url('fonts/Consolas.woff') format('woff'),
    url('fonts/Consolas.ttf') format('truetype'),
    url('fonts/Consolas.svg#Consolas') format('svg');
}

body {
    background: url("images/tiny_grid.png");
}
.main {
    font-family: "Consolas", monospace;
}