@import "reset";
@import "base";

/*------------------------------------*\
    #HEADER
\*------------------------------------*/
.header {
  position: fixed;
  top: 0;
  width: 100%;
  height: auto;
  font-family: $font-family;
  @include linear-gradient(left, #97dde1, #f7dbe7, #ff8a6e);
  @include box-shadow(0 1px 3px rgba(0,0,0,.3));

  & .nav {
    @extend .flex-container;
    -webkit-align-items: center;
    align-items: center;
    width: 80%;
    margin: 0 auto;
    
    & li {
      display: inline-block;
      height: $nav-li-height;
      line-height:$nav-li-height;
      margin-top: $nav-li-height * (1.5 - 1) / 2;
      margin-bottom: $nav-li-height * (1.5 - 1) / 2;
      -webkit-flex-basis: $nav-li-width;
      flex-basis: $nav-li-width;
      text-align: center;
      font-size: 15px;
      letter-spacing: 3px;
      text-transform: uppercase;
      border: 2px solid #fff;

      & a:link, & a:visited {
        width: 100%;
        height: 100%;
        color: #fff;
        @include transition(color,box-shadow .65s ease-in);
      }
      & a:hover, &.active a {
        color: #a8a8a8;
        @include box-shadow(inset 15em 0 rgba(255,255,255,.5));
      }
    }
  }
}
/*------------------------------------*\
    #SECTIONS
\*------------------------------------*/
.section {
  font-family: "Microsoft YaHei", Arial, monospace;

  & section {
    width: 70%;
    height: auto;
    margin: 0 auto;
    
    /* home */
    &.home {
      color: $text-color;

      & h1, & h2{
        font-weight: lighter;
      }
      & h1 {
        font-size: $font-size * 2;
      }
      & h2 {
        font-size: $font-size * 1.2;
      }
    }
    /* demos */
    &.demos {
      @extend .flex-container;

      & .demo {
        -webkit-flex-basis: 250px;
        flex-basis: 250px;
        height: 200px;
        margin-bottom: $font-size;
        border: 1px solid #a8a8a8;
        background-color: #fefefe;
        @include box-shadow(0 1px 2px rgba(0,0,0,.15));
        @include transition(transform .2s ease-out);

        &:hover{
          @include transform(translate(5px, 5px));
        }

        & .preview {
          width: 80%;
          height: 75%;
          margin: auto;
          margin-top: 4%;
          background-color: #eee;
        }
        & .pre-links {
          float: right;
          margin-right: $font-size * 1.2;
          font-size: $font-size * .5;

          & a {
            margin-left: $font-size * .5;
            padding-top: $font-size * .5;
            padding-bottom: $font-size * .2;
          }
          & a:link, & a:visited {
            color: $text-color;
          }
          & a:hover {
            border-bottom: 1px solid #a8a8a8;
          }
        }
      }

    }
    /* skills */
    &.skills {
        @extend .flex-container;

        & .skill {
          -webkit-flex-basis: $skill-div-width;
          flex-basis: $skill-div-width;
          height: $skill-div-height;
          margin-bottom: $font-size;
          color: $text-color;
          border: $text-border;
          background-color: #fefefe;
          @include box-shadow(0 1px 2px rgba(0,0,0,.15));
          @include transition(transform .2s ease-out);
          
          &:first-child .skill-title {
            background-color: #97dde1;
          }
          &:nth-child(2) .skill-title {
            background-color: #ff8a6e;
          }
          &:nth-child(3) .skill-title {
            background-color: #ffc04c;
          }
          &:last-child .skill-title {
            background-color: #ffc0cb;
          }

          & .skill-title {
            width: 100%;
            height: $skill-span-height;
            line-height: $skill-span-height;
            text-align: center;
            border-bottom: $text-border;
            @include opacity(.8);
          }

          & ul li {
            padding: $font-size * .5 $font-size * .5;
            font-size: $font-size * .8;
            line-height: $font-size * 1.2;
            clear: both;

            & i {
              margin-right: 5px;
            }
            & span {
              float: right;
              width: 85%;
            }

            &:first-child {
              margin-top: $font-size;
            }
          }

          &:hover {
            @include transform(translate(5px, 5px));
          }
        }
    }
    /* contact */
    &.contact {
      position: relative;
      font-weight: lighter;

      & li {
        position: relative;
        width: $contact-li-width;
        height: $font-size * 2;
        margin-bottom: $font-size * 1.5;
        font-size: $font-size;
        text-transform: uppercase;

        & a span {
          margin-left: $font-size;
        }
        & a:link, & a:visited {
          color: $text-color;
        }
        & a:hover {
          color: #000;
        }
      }
      & .introduce {
        position: absolute;
        top: -20%;
        right: 0;
        width: 60%;
        height: auto;
        padding: $font-size * 1.5;
        font-size: $font-size;
        font-weight: lighter;
        color: $text-color;
        border: $text-border;
        background-color: #fefefe;
        @include box-shadow(0 1px 2px rgba(0,0,0,.15));
        @include transition(transform .2s ease-out);

        &:hover {
          @include transform(translate(5px, 5px));
        }
      }
    }
  }
}

/* 右侧导航 */
#fp-nav ul li a span {
  background: #ff8a6e;
}