@import url(reset.css);
@import url(base.css);

/* BASICS
 * selection: mediumpurple
 * scrollbar: linear-gradient + #666
 */
::selection {
    background-color: mediumpurple;
    color: #fff;
}

::-webkit-scrollbar-thumb:vertical {
    border:2px solid #fff;
    background: -moz-linear-gradient(bottom,#97dde1, #f7dbe7, #ff8a6e);
    background: -webkit-linear-gradient(bottom,#97dde1, #f7dbe7, #ff8a6e);
    background: -o-linear-gradient(bottom,#97dde1, #f7dbe7, #ff8a6e);
}
::-webkit-scrollbar-thumb:horizontal {
    background-color:#fbfbfb;}

::-webkit-scrollbar {
    width:11px;
    border:5px solid #fff;
    background-color:#666;}
/* BASICS ENDS */

/* TOP */
.top {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 60px;
    background:-moz-linear-gradient(left,#97dde1, #f7dbe7, #ff8a6e);/*Mozilla*/
    background:-webkit-linear-gradient(left,#97dde1, #f7dbe7, #ff8a6e);/*new gradient for Webkit*/
    background:-o-linear-gradient(left,#97dde1, #f7dbe7, #ff8a6e); /*Opera11*/
}
.top .nav {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    align-content: space-around;
    width: 900px;
    height: 40px;
    margin: 0 auto;
}
.top .nav a {
    position: relative;
    display: inline-block;
    flex-basis: 150px;
    height: 40px;
    margin-top: 10px;
    line-height: 40px;
    font-family: "Consolas", monospace;
    font-size: 15px;
    color: #fff;
    text-align: center;
    letter-spacing: 3px;
    text-transform: uppercase;
    border: 1px solid #fff;
    -webkit-transition: color,box-shadow .65s ease-in;
    -moz-transition: color,box-shadow .65s ease-in;
    -o-transition: color,box-shadow .65s ease-in;
    transition: color,box-shadow .65s ease-in;
}
.top .nav a:hover {
    color: #a8a8a8;
    -webkit-box-shadow:inset 150px 0 rgba(255,255,255,.5);
    -moz-box-shadow: inset 150px 0 rgba(255,255,255,.5);
    -o-box-shadow: inset 150px 0 rgba(255,255,255,.5);
    box-shadow: inset 150px 0 rgba(255,255,255,.5);
}
.top .nav a:last-child {
    margin-right: 0;
}
/* TOP ENDS */

/* MAIN */
.main {
    width: 830px;
    margin: 120px auto 0;
}

/* CREATIONS */
.creations {
    width: inherit;
    height: 500px;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    align-content: space-around;
}
.work {
    position: relative;
    display: flex;
    flex-basis: 250px;
    height: 200px;
    border: 1px solid #a8a8a8;
    background-color: #fefefe;
    box-shadow: 0 1px 2px rgba(0,0,0,0.15);
    transition: transform .2s ease-out;
    font-size: 10px;
}
.work:hover {
    transform: translate(5px, 5px);
}
.work:hover a::after {
    height: 1px;
}
.preview {
    width: 200px;
    height: 150px;
    margin: auto;
    margin-top: 10px;
    background-color: #eee;
}
.preview img {
    display: block;
    width: 100%;
    height: 100%;
}
.pre-links {
    position: absolute;
    right: 5px;
    bottom: 10px;
    height: 20px;
    line-height: 20px;
}
.pre-links a {
    position: relative;
    display: inline-block;
    float: left;
    width: 50px;
}
.pre-links a:link, .pre-links a:visited {
    color: #666;
}
.pre-links a:first-child {
    margin-right: 4px;
}

/* THE UNDERLINE OF PRE-LINKS */
.pre-links a::after {
    content: '';
    position: absolute;
    height: 1px;
    left: 0;
    right: 100%;
    bottom: 0;
    background-color: purple;
    -webkit-transition: right .3s ease-out;
    -moz-transition: right .3s ease-out;
    -o-transition: right .3s ease-out;
    transition: right .3s ease-out;
}
.pre-links a:hover::after {
    right: 30%;
}